table {
    margin-left: 10%;
    font-family: Arial;
    float: center;
    width: 80%;
  }

thead {
    text-align: center;
}

td {
    padding: 5px 10px;
}

p {
    text-align: center;
    padding-top: 5px;
}


  