table {
    margin-left: 10%;
    margin-top: 20px;
    font-family: Arial;
    float: center;
    width: 80%;
  }

thead {
    text-align: center;
}

button.delete {
    padding: 5px 14px;
    margin-right: 5px;
    margin-bottom: 5px;
    background: var(--color-primary);
}

button.wasted {
    color: var(--color-primary);
    background: white;
    border: 1px;
    border-style: solid;
    border-color: var(--color-primary);
    margin-left: 15px;
    margin-bottom: 5px;
    padding: 5px 7px;
}

td {
    padding: 5px 10px;
    
    font-size: 20px;
}

p {
    text-align: center;
    padding-top: 5px;
}

h1#saldo {
    color: red;
}


  