div.DetailedView h1 {
    font-size: 30px;
    color: black;
    float: center;
    margin: 15px;
}

div.DetailedView button {
    float: center;
    position: absolute;
    top: 81%;
}


div.value {
    position: absolute;
    top: 8.5em;
    left: 5.9em;
}

div.DetailedView {
    display: flex;
    flex-direction: column;
}

div.total {
    padding-top: 3em;
}

div.total_value {
    font-size: 40px;
    padding-left: 46%;
}

div.value {
    margin-left: 5px;
}

