h2.ostoslista {
    padding-top: 50px;
    font-size: 32px;
    
}


thead {
    text-align: center;
}

table#simple-board p {
    float: right;
    margin-left: 40px;
}

p#price {
    width: 50px;
}

td {
    padding: 5px 10px;
}

p {
    text-align: center;
    padding-top: 5px;
}


  